html{
	font-size: 14px;
}
header,
main,
ul,
li,
a {
	border: 0;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
div,
nav,
header,
main,
footer {
	width: 100%;
}

.horiz-center {
	margin-left: auto;
	margin-right: auto;
}
header a {
	color: #fff;
}
header {
	background-color: #333;
	color: #fff;
}
header .container {
	display: flex;
	align-items: flex-start;
	width: 960px;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
header .logo {
	margin-right: auto;
}

header .menu li {
	display: inline-block;
}
header .menu a {
	text-decoration: underline;
}
.main-banner {
	display: flex;
	flex-direction: column-reverse;
	height: 22rem;
	background-color: #6b3;
}
.main-banner .banner-list-wrapper {
	display: flex;
	flex-direction: row-reverse;
	width: 960px;
	z-index: 10;
}
.main-banner .banner-list {
	margin-bottom: 1rem;
}
.main-banner .banner-list li {
	display: inline-block;
	border: 1px solid #36631b;
	padding: .25rem .5rem;
	background-color: #b2dd99;
	color: #36631b;
}

.banner-list li[class~="on"] {
	border: 1px solid #333;
	padding-top: 1rem;
	background-color: #e0f1d6;
	color: #333;
}
.main-nav {
	margin-top: 3.5rem;
	border-bottom: 1px solid #ddd;
}
.main-nav ul {
	display: flex;
	width: 960px;
	margin-bottom: -1px;	
}
.main-nav li a {
	display: block;
	color: #333;
	padding: 1rem 2rem;
	border: 1px solid #ddd;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	background-color: #eee;
	font-size: 1.5rem;
}
.main-nav a.active {
	background-color: #fff;
	border-bottom-color:#fff;
}
.main-content {
	width: 960px;
	margin-top: .35rem;
}
.main-content .row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -0.35rem;
}
.main-content .row section {
	flex: 1 1 auto;
	padding: 80px;
	border: 1px solid #ddd;
	margin: .35rem;
	white-space: nowrap;
}
footer {
	margin-top: 1rem;
	background-color: #333;
	color: #fff;
}
.footer-container {
	width: 960px;
	height: 10rem;
	padding: 1rem;
}
.footer-container p {
	text-align: center;
}
